<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hello Administrator <%= @u.name %>,</h1>
    <p>
      A new Vendor, <%= @vendor.name %>, and needs to be approved.
      
    </p>
  </body>
</html>