<div class="row-fluid" id="contact-background">
	<div id="contact-box">
		<h3 id="contact-header">Contact</h3>
		  <div class="row contact-row">
			<div class="col-md-6 contact-attr">
				Phone Number
			</div>
			<div class="col-md-6 contact-attr">
				(555)-555-5555
			</div>
		  </div>
		  <div class="row contact-row">
			<div class="col-md-6 contact-attr">
				Email
			</div>
			<div class="col-md-6 contact-attr">
				example@example.com
			</div>
		  </div>
		  <div class="row contact-row">
			<div class="col-md-6 contact-attr">
				Hours of Operation
			</div>
			<div class="col-md-6 contact-attr">
				9:00 AM - 5:00 PM
			</div>
		  </div>
		  
	</div>

</div>
