<h4><i class="fa fa-pencil-square-o"></i> Edit School: <%= session[:org_name]%> <%#= session[:org_type]%></h4>

<%= render 'form' %>

<%#= link_to 'Show', @school %> <!--|-->
<%#= link_to 'Back', schools_path %>
