<% if cannot? :update, Customer %>
<div class="modal fade" id="inside-manager" title="My modal">
  <div class="modal-header">
    
  </div>
  <div class="modal-body">
  	<button aria-hidden="true" class="close" id="inside-manager-close" type="button">×</button>
  	<div id="manager-inside-render">
    
    </div>
  </div>
  <div class="modal-footer">
  </div>
</div>
<ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#first-admin-page" aria-controls="first-admin-page" role="tab" data-toggle="tab">Campaigns</a></li>
    <li role="presentation"><a href="#second-admin-page" aria-controls="second-admin-page" role="tab" data-toggle="tab">Survey Evaluation</a></li>
</ul>
<div class="tab-content"> 
  <div role="tabpanel" class="tab-pane active" id="first-admin-page">
  	<div class="col-md-4 search-div"><h2 style="text-align:center; font-size:1.5em; font-weight: bold;margin-top:0px;">Search by Start and End Dates</h2>
			<div class="col-md-6"><b>Start Date:</b></br><input id="min"></div>
			<div class-"col-md-6"><b>End Date:</b></br><input id="max"></div>
		</div>
	<%= render partial: "specialist_campaign_list"%> <br />
  </div>
    <div role="tabpanel" class="tab-pane" id="second-admin-page">
	<%= render partial: "static/survey_evaluation_list"%> <br />
  </div>
</div>
<% else %>
	<h1 style="border-color: red; border-style: dashed; border-width: 5px 0 5px 0; padding: 50px; color:red; text-align:center;font-weight:bold; background-color:rgb(255, 195, 195); margin-top: 10%;">You are not authorized to view this page!</h1>
<% end %>
<script>
var campaign_table = $('#specialist-campaigns-table').DataTable( {
    "retrieve": true,
    "paging": true,
    "order": [[ 9, "desc" ]],
	    "oLanguage": {
         "sSearch": "General Search:</br>"
      	},
    "dom": 'flptip',
    "columnDefs": [ { "targets": [10,11,12,13], "orderable": false } ]
} );

	  $('#min').datepicker({
                dateFormat: "mm/dd/yy",
                onClose: function(date){
                	campaign_table.draw();
                }
      });
                
      $('#max').datepicker({
                dateFormat: "mm/dd/yy",
                onClose: function(date){
                	campaign_table.draw();
                }
      });
	// Add event listeners to the two range filtering inputs
      $('#min').keyup( function() { campaign_table.draw(); } );
      $('#max').keyup( function() { campaign_table.draw(); } );
	  $('a').click(function(){
      	$('#min').val("");
	  	$('#max').val("");
      });
	  $(document).on('click', function(){
	  	console.log("HARPO");
		$(".best_in_place").each(function(){
			if ($(this).html() == ""){
				$(this).append("--");
			}
		});
	  });

$('#inside-manager-close').click(function(){
	$('#inside-manager').modal('hide');
});
</script>
