body {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #000;
  &:visited {
    color: #666;
  }
  &:hover {
    color: #fff;
    background-color: #000;
  }
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}
#error_explanation{
  background-color: #FDB7B7;
  color:#932929;
  border-radius:5px;
  width: 80%;
  padding:20px;
  h2{
    background-color: transparent;
    font-size: 1.3em;
  }
}

.form-label{
  .field_with_errors{
    float:right;
  }
}

.form-input{
  .field_with_errors{
    float:left;
  }
}

.field_with_errors{
  background-color: #FF7E7E;
  border-radius:5px;
  padding:5px;
  label{
    float:right;
  }
}
